@model Wallet.Core.ViewModels.Home.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h4 class="text-center">Transaction history.</h4>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Value</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tran in @Model.UserTransactionsViewModel)
        {
            <tr>
                <th scope="row">@tran.Username</th>
                <td>@tran.Date</td>
                <td>@tran.Type</td>
                <td>$@tran.Value</td>
                @if (tran.Type == "Buy" || tran.Type == "Sell")
                {
                    <td>@tran.Amont</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
