@model IEnumerable<Wallet.Core.ViewModels.Category.AllCategoryViewModel>

@{
    ViewData["Title"] = "All";
}

<div class="offset-md-1 col-md-10 col-sm-12">
    <h1 class="text-center">Categories</h1>

    <p>
        <a asp-action="Add">Create Category</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Assets", "All", "Asset", new { categoryId = item.CategoryId }) |
                        @Html.ActionLink("Edit", "Edit", "Category", new { categoryId = item.CategoryId }) |
                        @Html.ActionLink("Delete", "Delete", "Category", new { categoryId = item.CategoryId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
