@model IEnumerable<Wallet.Core.ViewModels.User.UserListViewModel>

@{
    ViewData["Title"] = "Manage users";
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                <a type="button" class="btn btn-info" asp-controller="Admin" asp-action="ManageUserAssets" asp-route-userId="@item.Id">User Assets</a>
                <a type="button" class="btn btn-info" asp-controller="Admin" asp-action="ManageUserTransactions" asp-route-userId="@item.Id">Transactions</a>
                <a type="button" class="btn btn-info" asp-controller="Admin" asp-action="ManageRoles" asp-route-userId="@item.Id">Roles</a>
                <a type="button" class="btn btn-warning" asp-controller="Admin" asp-action="EditUser" asp-route-userId="@item.Id">Edit</a>
                <a type="button" class="btn btn-danger" asp-controller="Admin" asp-action="DeleteUser" asp-route-userId="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
