@model IEnumerable<Wallet.Core.ViewModels.User.UserListViewModel>

@{
    ViewData["Title"] = "Manage users";
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.ActionLink("User Assets", "ManageUserAssets",new { userId=item.Id }) |
                @Html.ActionLink("Transactions", "ManageUserTransactions", new { userId=item.Id }) |
                @Html.ActionLink("Edit", "EditUser", new {  userId=item.Id }) |
                @Html.ActionLink("Delete", "DeleteUser", new { userId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
